<h1>HISTORIQUE LIST</h1>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date Emprunt</th>
                    <th>Date Retour</th>
                    <th>User_id</th>
                    <th>Livre_id</th>
                    <th>Date de Creation</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Date Emprunt</th>
                    <th>Date Retour</th>
                    <th>User_id</th>
                    <th>Livre_id</th>
                    <th>Date de Creation</th>
                </tr>
            </tfoot>

            <tbody>

            </tbody>

        </table>
    </div>
</div>
