<h1>LIVRES LIST</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="openModale()">
    Add Livre
</button>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Autheur</th>
                    <th>ISBN</th>
                    <th>Date Pub</th>
                    <th>Disponibilité</th>
                    <th>Date de creation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Autheur</th>
                    <th>ISBN</th>
                    <th>Date Pub</th>
                    <th>Disponibilité</th>
                    <th>Date de creation</th>
                    <th>Actions</th>

                </tr>
            </tfoot>

            <tbody>

            </tbody>

        </table>
    </div>
</div>





<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
          <form action="" id="formLivre">
              <div class="form-row">
                  <div class="col">
                      <label for="">Titre : </label>
                      <input  type="text" name="titre" class="form-control">
                  </div>
   
   
                  <div class="col">
                      <label for="">Autheur : </label>
                      <input  type="text" name="autheur" class="form-control">
                  </div>
   
   
                  <div class="col">
                      <label for="">ISBN : </label>
                      <input  type="text" name="isbn" class="form-control">
                  </div>
   
   
                  <div class="col">
                    <label for="">Date Pub :</label>
                    <input  type="date" name="datePub" class="form-control">
                  </div>
                
   
   
                  <div class="col">
                    <label for="">Disponibilité :</label><br>
                    <input  type="radio" name="disponibilite" value="true"> Oui
                    <input  type="radio" name="disponibilite" value="false"> Non
                </div>
                
   
   
              </div>
          </form>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button onclick="addLivre()" type="button" class="btn btn-primary" data-bs-dismiss="modal" >Save changes</button>
        </div>
      </div>
    </div>
</div>
   

